html {
  position: relative;
  min-height: 100%;
}

html, body, #map {
  height: 95%;
  padding: 0;
  margin: 0;
}
#date_selector {
  position: absolute;
  top: 180px;
  left: 20px;
  padding: 0;
  width: 305px;
  }
body {
  padding-top: 50px;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 92px;
  background-color: #101010;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#graph {
  position: absolute;
  top: 160px;
  right: 0px;
  padding: 0;
}
.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.area {
  fill: dimgray;
  stroke-width: 0;
  opacity: 0.4;
}
.line {
  fill: none;
  stroke: dimgray;
  stroke-width: 2.5px;
}
text {
  font-size: 15px;
  stroke: silver;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 15px sans-serif;
  /*background: red;*/
  color: silver;
  border: 8px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0.2;
}
div.cartodb-popup.v2 a.cartodb-popup-close-button:after, div.cartodb-popup.v2 a.cartodb-popup-close-button:before {
  background: red;
}